<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=content"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="./Auth.js?v=666"></script>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" />
    <% } %>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>

<% for (var chunk in htmlWebpackPlugin.files.js) { %>
<script
  src="<%=htmlWebpackPlugin.files.js[chunk] %>"
  type="text/javascript"
></script>
<% } %>
